.project
.classpath
.idea/
*.iml
*.ipr
*.iws
*.log
*/out/
*/target/
*/target-eclipse/
*/web-app/
.settings/
atlassian-ide-plugin.xml
target/
target-eclipse/
.idea
.settings
out
application.properties
=======
/.idea
*.iml
/target/
/*.db
*.log

